// src/styles/_variables.scss

$primary-color: #0077ff;
$secondary-color: #222;
$font-stack: "Poppins", sans-serif;
$background-oscuro: #01061B;
$color-font: rgba(12, 235, 243, 0.829);
$color-gray: rgb(219, 216, 216);
$color-button-secondary:#030944;
$color-button-principal:  #05149c;
// Header

$header-color-principal: #060d36;
$header-color-secundario: #219bec;
$header-color-terciario: #05149c;
$header-color-cuaternario: #030944;
$header-color-quintario: #0077ff;
$header-color-sextario: #0055cc;
$header-color-septario: #003399;
$header-color-octario: #00114d;
