<div
  #carouselContainer
  class="relative w-full overflow-hidden"
  role="region"
  aria-label="Carrusel de proyectos"
>
  @if (isReady && projects && projects.length > 0) {
    <owl-carousel-o [options]="customOptions">
      <ng-template
        carouselSlide
        [id]="'slide-' + project.title"
        *ngFor="let project of projects; trackBy: trackByFn"
      >
        <div class="px-4 py-2 flex flex-col items-center justify-center">
          <app-project-card [project]="project"></app-project-card>
        </div>
      </ng-template>
    </owl-carousel-o>
  }
</div>
