@import "./styles/_variables.scss";
@import "./styles/_breakpoints.scss";

// Estilos globales
body {
  margin: 0;
  padding: 0;
  font-family: "Tenor Sans", sans-serif;
  background: #f8f9fa;
  color: $color-gray;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
