@import "../../../../styles/breakpoints";
@import "../../../../styles/variables";

.section-about {
  padding: 2rem 0;
  max-width: 1200px;

  > h1 {
    font-size: 25px;
  }

  .intro {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  .history {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item-history {
      width: auto;
      border: solid 1px $primary-color;
      border-radius: 1rem;
      padding: 1rem;
      position: relative;

      .history-text {
        max-height: 220px; /* límite inicial en móviles */
        overflow: hidden;
        position: relative;
        transition: max-height 0.5s ease;
        text-align: left;

        /* efecto fade-out para el corte */
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          pointer-events: none;
        }
      }

      &.expanded {
        .history-text {
          max-height: 2000px; /* se expande */
          &::after {
            display: none; /* quitamos el fade */
          }
        }
      }

      > p {
        text-align: left;
        font-size: 13px;

      }

      .toggle-btn {
        margin-top: 0.75rem;
        background: none;
        border: none;
        color: $primary-color;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.3s;
        display: block;
        outline: none;          /* Quita outline tradicional */
        -webkit-tap-highlight-color: transparent; /* Quita el highlight azul en móviles */
        -webkit-focus-ring-color: transparent;    /* Safari focus ring */
        box-shadow: none;       /* Quita sombras al focus */

        &:hover {
          color: darken($primary-color, 10%);
        }

       
      }
    }

    .item-study {
      width: 100%;
    }
  }
}

/* 💻 Laptop */
@include laptop {
  .section-about {
    .history {
      flex-direction: row;
      align-items: start;

      .item-history {
        width: 65%;
        padding: 2rem !important;

        .history-text {
          max-height: none !important; /* en pantallas grandes siempre expandido */
          &::after {
            display: none;
          }
        }

        > p {
          line-height: 1.8;
        }

        .toggle-btn {
          display: none; /* no se muestra en pantallas grandes */
        }
      }

      .item-study {
        flex: 1;
      }
    }
  }
}
